/* Edit form */

.flEditForm fieldset {
  margin-bottom: 20px;
}

.flEditForm .form-group {
  overflow: hidden;
}

.flEditForm .refer:hover,
.flEditForm .refer {
  color: rgb(70, 140, 203);
  display: block;
  text-decoration: none;
}

.flEditForm .refer a {
  color: rgb(70, 140, 203);
}

.flEditForm .refer i {
  margin: 0px 5px;
  position: relative;
  top: -1px;
}

.flEditForm .help{
  color: #999;
}

.flEditForm legend {
  font-size: 15px;
  margin-bottom: 20px;
}

.flEditForm legend .main {
  border-bottom: 1px solid #31b451;
  display: inline-block;
  position: relative;
  top: 1px;
  font-size: 17px;
}

.flEditForm legend .help {
  display: inline-block;
  font-size: 12px;
  margin-left: 5px;
}

.flEditForm legend .refer {
  float: right;
  display: block;
  position: relative;
  top: 3px;
}

.flEditForm label {
  font-weight: normal;
  font-size: 15px;
}

.flEditForm label .requiredMark {
  color: #F22;
  font-size: 12px;
  font-style: normal;
  text-align: center;
  width: 13px;
  float: right;
}

/* Overwrite uploadify */
.flEditForm .uploadify .uploadify-button,
.flEditForm .uploadify:hover .uploadify-button {
  background: #39b3d8;
  border: none;
  display: block;
  line-height: 25px;
  width: 90px;
  color: white;
  border-radius: 3px;
  margin-bottom: 10px;
  text-shadow: none;
  margin-top: 2px;
}

.flEditForm .uploader {
  position: relative;
}

.flEditForm .uploader .help {
  margin-bottom: 5px;
  margin-top: 6px;
}

.flEditForm .uploader .fileName {
  margin-right: 10px;
}

.flEditForm .deleteButton {
  display: inline-block;
  width: 20px;
  cursor: pointer;
  color: #aaa;
  font-size: 12px;
  text-align: center;
  font-style: normal;
  padding: 0 5px;
}

.flEditForm .imagePreview {
  display: inline-block;

  border-radius: 3px;
  border: 1px solid #ccc;
  padding: 5px;

  margin-bottom: 5px;
  position: relative;
  margin-top: 2px;
}

.flEditForm .imagePreviews .imagePreview {
  margin-bottom: 10px;
  margin-right: 10px;
}

.flEditForm .imagePreview .inner {
  width: 100px;
  height: 100px;

  background: white;
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.flEditForm .imagePreview .deleteImage {
  display: none;
  position: absolute;
  cursor: pointer;
  top: -3px;
  right: -3px;
}

.flEditForm .imagePreview:hover .deleteImage {
  display: inline-block;
}

.flEditForm .timePeriod .spacer {
  margin-top: 6px;
  margin-bottom: 6px;
  display: block;
}

.flEditForm .multiSection .deleteSection {
  float: right;
  position: relative;
  top: 3px;
  cursor: pointer;
}

.flEditForm .multiSection .sectionTitle {
  color: rgb(45, 177, 76);
}

.flEditForm .multiSection .section {
  border-bottom: 1px solid #e1e1e1;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.flEditForm .multiSection .section .refer {
  margin-bottom: 5px;
  margin-top: 7px;
}

.flEditForm .multiSection .addSection {
  color: rgb(70, 140, 203);
  cursor: pointer;
  font-size: 17px;
}

.flEditForm .multiSection .addSection .help {
  display: inline-block;
  margin-left: 5px;
  font-size: 14px;
}

.flEditForm .formFooter {
  margin-top: 30px;
  margin-bottom: 30px;
  overflow: hidden;
}

.flEditForm .formFooter button {
  float: right;
  margin-left: 15px
}

@media (min-width: 450px) {
  .flEditForm legend .main {
    padding: 0 3px;
    font-size: 15px;
  }

  .flEditForm label {
    float: left;
    width: 100px;
    display: block;
    font-weight: normal;
    font-size: 15px;
    text-align: right;
    margin-top: 7px;
  }

  .flEditForm label .requiredMark {
    float: none;
    display: inline-block;
  }

  .flEditForm legend .refer {
    top: 0px;
  }

  .flEditForm .form-group:not(.noLabel) .controls {
    margin-left: 120px;
    clear: none;
    width: calc(100% - 120px);
  }
}
